In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # Allows the use of display() for DataFrames

# Import supplementary visualization code visuals.py
import visuals as vs

# Pretty display for notebooks
%matplotlib inline

# Load the Census dataset
data = pd.read_csv("census.csv")

# Success - Display the first record
display(data.head(n=1))

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K

In [3]:
data["income"].describe()

count     45222
unique        2
top       <=50K
freq      34014
Name: income, dtype: object

In [4]:
data.count()

age                45222
workclass          45222
education_level    45222
education-num      45222
marital-status     45222
occupation         45222
relationship       45222
race               45222
sex                45222
capital-gain       45222
capital-loss       45222
hours-per-week     45222
native-country     45222
income             45222
dtype: int64

In [21]:
data["income"].describe()

count     45222
unique        2
top       <=50K
freq      34014
Name: income, dtype: object

In [10]:
data.shape

(45222, 14)

In [24]:
data.income.count()

45222

In [25]:
len(data)

45222

In [27]:
data[data["income"] == ">50K"].income.count()

11208